body {
  margin: 2em auto;
  max-width: 600px;
}

form{
	margin: 3% auto auto 2%
}

form div {
    margin-bottom: 0.5em;
}

h2{
	text-align: center;
}

form div label, form div input {    
    margin-bottom: 0.3em;
}

section{
	border-width: 0.1em;
	border-style: solid;
	border-color: rgba(1, 1, 1, 0.20);
}
